@use 'variables' as vars;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.mentions,
.politique {
    margin-top: 70px;
    padding-top: vars.$paddingMobile--section;
    padding-bottom: vars.$paddingMobile--section;
    width: 90vw;
    max-width: 400px;
}

h1 {
    width: auto;
    color: vars.$color--blue;
    margin-bottom: 1.5rem;
}

h2 {
    text-align: left !important;
    color: vars.$color--lightgreen;
    margin-bottom: 0.3rem;
}

.mentions__text {
    text-align: left;
    margin-bottom: 1.5rem;
}
