@charset "UTF-8";
/* Fonts */
/* Spacing */
/* Colors */
/* Codé pour un affichage entre 360px et 767.98px */
/*
*
******CSS reset begins*****
*
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-weight: 500;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*
*
******CSS reset ends*****
*
*/
/* 
*
*****Début Comportements par défaut*****
*
*/
html {
  font-size: 17px;
}

.font-text {
  font-family: EB Garamond, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  max-width: 34rem;
  text-align: justify;
}

.font-title {
  font-family: Cardo, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.235rem;
  text-align: center;
}

/* 
*
*****Fin Comportements par défaut*****
*
*/
.text-to-appear {
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.visible {
  opacity: 1;
}

.header--mobile {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
  z-index: 6;
  border-bottom: 1px solid #c7a54b;
}
.header--mobile__logoAndName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.header--mobile__logoAndName__logo {
  width: 59px;
}
.header--mobile__logoAndName__name {
  font-family: The Nautigal, cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #c7a54b;
}

/* Menu Mobile début */
#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
  right: 1rem;
  z-index: 6;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 6;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #c7a54b;
  border-radius: 3px;
  z-index: 6;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle__img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-200px, 100px);
  height: 200px;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #c7a54b;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: fixed;
  top: 0rem;
  right: 0;
  width: 350px;
  height: 320px;
  box-shadow: 0 0 10px #85888c;
  padding: 50px;
  padding-right: 30px;
  padding-top: 70px;
  background-color: white;
  border-radius: 15% 0 0 15%;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  z-index: 5;
  background-color: #fffdf8;
}

#menu li {
  padding: 10px 0;
  transition-delay: 2s;
  text-align: right;
  font-family: EB Garamond, serif;
  color: #c7a54b;
}
#menu li a {
  color: #c7a54b;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/* Menu Mobile fin */
.harmoniser {
  margin-top: 93px;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.harmoniser__h1 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.harmoniser__line {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 2px;
  width: 10rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background: #c7a54b;
  border-radius: 3px;
}
.harmoniser__p {
  padding-left: 2rem;
  padding-right: 2rem;
}
.harmoniser__p__strong {
  position: relative;
  white-space: nowrap;
  font-weight: 400;
  overflow: visible;
}

.highlight {
  height: 40px;
  stroke: #e2e8f1;
  stroke-opacity: 1;
  fill: #395350;
  stroke-linecap: round;
  opacity: 1;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-to-highlight {
  position: relative;
  white-space: nowrap;
  font-weight: 400;
  overflow: visible;
}

.hindHighlight {
  transition: width 2s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -6px;
  overflow: hidden;
  width: 0;
  height: 100%;
  z-index: -1;
}

.showhighlight {
  width: 120%;
}

.Pourquoi {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../pics/background-blue.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.Pourquoi__background {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.Pourquoi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  z-index: 3;
}
.Pourquoi::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  z-index: 3;
}
.Pourquoi__h1 {
  color: #577ab0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1rem;
  z-index: 3;
}
.Pourquoi__ul {
  padding-left: 3.235rem;
  padding-right: 2rem;
  z-index: 3;
}
.Pourquoi__ul li {
  margin-bottom: 0.8rem;
  position: relative;
}
.Pourquoi__ul li::before {
  content: "";
  position: absolute;
  left: -1.235rem;
  top: 0.3rem; /* Décale la puce vers le bas */
  width: 16px; /* Largeur de l'image */
  height: 16px; /* Hauteur de l'image */
  background-image: url("../pics/logo.png");
  background-size: cover; /* Ajuste l'image à la taille spécifiée */
}
.Pourquoi__p {
  z-index: 3;
}

.Lisa {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Lisa__h1 {
  color: #395350;
  margin-bottom: 1rem;
}
.Lisa__img {
  border-radius: 53% 41% 37% 64%/57% 29% 60% 43%;
  width: 200px;
  margin-bottom: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  position: relative;
}
.Lisa__p {
  padding-left: 2rem;
  padding-right: 2rem;
}

.AQuoiRessemble {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-image: url("../pics/background-green.jpg");
  background-size: cover; /* Ajuste l'image à la taille spécifiée */
}
.AQuoiRessemble__background {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.AQuoiRessemble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  z-index: 2;
}
.AQuoiRessemble::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  z-index: 2;
}
.AQuoiRessemble__containText--center {
  max-width: 34rem;
  min-width: 300px;
}
.AQuoiRessemble__containText--center__containText--left {
  width: 75%;
  min-width: 300px;
}
.AQuoiRessemble__containText--center__containText--left__h1 {
  color: #958340;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  z-index: 3;
  position: relative;
}
.AQuoiRessemble__containText--center__containText--left__p {
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 3;
  position: relative;
}
.AQuoiRessemble__img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0%, -50%);
  width: 40%;
  max-width: 180px;
  z-index: 1;
}

.OuMeTrouver {
  padding-top: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.OuMeTrouver__h1 {
  color: #395350;
  margin-bottom: 1rem;
}
.OuMeTrouver__ul {
  padding-left: 3.235rem;
  padding-right: 2rem;
}
.OuMeTrouver__ul li {
  margin-bottom: 0.8rem;
  position: relative;
  text-align: justify;
}
.OuMeTrouver__ul li svg {
  color: #92bbb5;
  content: "";
  position: absolute;
  left: -2rem;
  top: 0.3rem; /* Décale la puce vers le bas */
  width: 16px; /* Largeur de l'image */
  height: 16px; /* Hauteur de l'image */
}
.OuMeTrouver__img {
  width: 75%;
  max-width: 400px;
  min-width: 350px;
  margin-bottom: 1rem;
}
.OuMeTrouver__button {
  height: 3rem;
  width: 238px;
  border: 1px solid #92bbb5;
  border-radius: 1.5rem;
  background-image: url("../pics/background-green.jpg");
  background-position: center;
  position: relative;
  padding-left: 3.5rem;
  padding-right: 2rem;
  transform: scale(1);
  transition: transform 0.3s ease-out;
}
.OuMeTrouver__button:hover {
  transform: scale(1.05);
}
.OuMeTrouver__button--form {
  margin-top: 1rem;
}
.OuMeTrouver__button svg {
  position: absolute;
  color: #395350;
  left: 1rem;
  top: 50%; /* Décale la puce vers le bas */
  transform: translate(0, -50%);
  width: 1.5rem; /* Largeur de l'image */
  height: 1.5rem; /* Hauteur de l'image */
}
.OuMeTrouver__form {
  margin-top: 1rem;
  display: flex;
  max-height: 0;
  overflow: hidden;
  transition: all 800ms ease-out;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.OuMeTrouver__form__div {
  width: 238px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.OuMeTrouver__form__div--message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
}
.OuMeTrouver__form__div__label {
  margin-bottom: 0.4rem;
}
.OuMeTrouver__form__div__input {
  width: 238px;
  height: 2rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  border: solid 1px #92bbb5;
  border-radius: 1.5rem;
}
.OuMeTrouver__form__div__input:focus {
  outline: none;
  box-shadow: 0 0 5px #c7a54b;
}
.OuMeTrouver__form__textarea {
  padding: 1rem;
  width: 80vw;
  max-width: 400px;
  height: 200px;
  margin-bottom: 1rem;
  border: solid 1px #92bbb5;
  border-radius: 1.5rem;
  resize: none;
}
.OuMeTrouver__form__textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #c7a54b;
}
.OuMeTrouver__form__button {
  padding: 0 0;
  margin-bottom: 1.4rem;
  text-align: center;
  width: 120px;
  height: 2rem;
  border: 1px solid #92bbb5;
  border-radius: 1.5rem;
  background-image: url("../pics/background-green.jpg");
  background-position: center;
  transform: scale(1);
  transition: transform 0.3s ease-out;
}
.OuMeTrouver__form__button:hover {
  transform: scale(1.05);
}

.grow {
  animation: grow 0.6s ease-in-out 2 alternate;
}

.form-visible {
  max-height: 550px;
}

@keyframes grow {
  0% {
    transform: translate(0, -50%) scale(1);
  }
  100% {
    transform: translate(0, -50%) scale(1.15);
  }
}
footer {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__p {
  text-align: center;
}/*# sourceMappingURL=style.css.map */