/* Fonts */
$fontSignature: (
    font-family: (
        'The Nautigal',
        cursive,
    ),
    font-weight: 400,
    font-style: normal,
    font-size: 2rem,
);

$fontTitleh1: (
    font-family: (
        'Cardo',
        serif,
    ),
    font-weight: 600,
    font-style: normal,
    font-size: 1.235rem,
);

$fontTitleh2: (
    font-family: (
        'Cardo',
        serif,
    ),
    font-weight: 600,
    font-style: normal,
    font-size: 1rem,
);

$fontParagraph: (
    font-family: (
        'EB Garamond',
        serif,
    ),
    font-optical-sizing: auto,
    font-weight: 400,
    font-style: normal,
    font-size: 1rem,
);

/* Spacing */

$paddingMobile--header: 1rem; //utiliser pour les côtés et au-dessus et en-dessous
$paddingMobile--title: 1.5rem;
$paddingMobile--p: 2rem;

$paddingMobile--section: 1.4rem; //utilisé pour le dessus et le dessous et sur les côté
$maxWidthText: 34rem;

/* Colors */
$color--main: black;
$color--lightgold: #c7a54b;
$color--darkgold: #958340;
$color--blue: #577ab0;
$color--darkgreen: #395350;
$color--lightgreen: #92bbb5;

//Shadows colors
$color--shadowgold: #fffdf8;
$color--shadowgold2: #f7e7bf;

//Strokes colors
$color--strokecolor: lighten($color--blue, 40);

//Cards colors
$color--card1: #eef1f6;
$color--card2: #e4eced;
$color--card3: #d9e6e4;
